* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
   padding: 20px 10px;
}

.nav-bar,
.menu-items,
.footer-links {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo img {
   width: 15vw;
}

.menu-items li,
.footer-links li {
   list-style: none;
}

.menu-items li {
   margin: 0px 20px;
}

.menu-items li a,
.footer-links li a {
   position: relative;
   text-decoration: none;
   font-size: 1rem;
   color: rgb(48, 173, 223);

}

.menu-items li a::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #0087ca;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
}

.menu-items li a:hover::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

.menu-btn {
   display: none;
}

.slide img {
   width: 100%;
}

.about,
.test-container {
   padding: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-image: url('/assets/wdDotted-bg.svg');
}

.about-content {
   padding-left: 50px;
}

.about-content h5,
.test-content h5 {
   color: #0087ca;
}

.about-content p,
.test-content p {
   margin-top: 20px;
   font-size: 18px;
}

.test-content p {
   padding-right: 50px;
   margin-bottom: 20px;
}

.testimonials h1 {
   text-align: center;
   font-size: 2rem;
   color: #0087ca;
}

.test-image img {
   border-radius: 20px 50px 20px 50px;
}

.about-image img {
   margin-top: 500px;
   animation: pop 2s forwards 3s;
}

@keyframes pop {
   100% {
      margin-top: 0px;
   }
}

.copyright {
   text-align: center;
}

.footer-links {
   padding: 50px;
}

.footer-links div {
   text-align: center;
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 600px) {
   .logo>img {
      width: 30vw;
   }

   .menu-btn {
      display: block;
   }

   .menu-items li:not(:last-child) {
      display: none;
   }

   .menu-items.responsive li {
      display: block;
      transition: all .5s;
   }

   .menu-items.responsive li i {
      color: white;
      position: absolute;
      top: 30px;
      right: 30px;

   }

   .menu-items.responsive {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.856);
      width: 100%;
      height: 30vh;
      transition: all .5s;
   }

   .slide img {
      width: 100%;
      height: 35vh;
      object-fit: cover;
      object-position: left;
   }

   .about,
   .test-container {
      padding: 20px;
   }

   .about,
   .footer-links {
      flex-direction: column;
   }

   .about-content,
   .test-content p {
      padding: 0;
   }

   .test-container {
      flex-direction: column-reverse;
   }

   .footer-links {
      padding: 10px;
   }

   .footer-links h4 {
      margin-top: 10px;
   }

   img {
      width: 100%;
   }
}